:root{
  --body-bg-color1:rgb(201, 199, 193);
  --body-bg-color2:#E9D7C8;
  --body-bg-color3:#F7F2ED;
}


.App {
  text-align: center;  
}

body{
  background-color:var(--body-bg-color1);
}

h2{
  margin: 10px;
}

.scores{
  display: inline-block;
}

.cardcontainer{
  display: flex;
  flex-wrap: wrap;
  margin:10px ;  
  justify-content: center;
}

.card{
  width:280px;
  height: 320px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(218, 189, 164);
  border: 5px solid rgb(228, 226, 209);
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.card:hover{
  cursor: pointer;
}

.image{
  width: 90%;
  height: 75%;
  padding: 5px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: rgb(204, 170, 141);
}

svg{
  width: 90%;
  height: 95%;
  border-radius: 10px; 
}

.cardname{
  margin: 0 auto;
  background-color: rgb(204, 170, 141);
  width: 90%;
  height: 12%;
  border-radius: 10px;
  color: #120C07;

}


